.heroCarousel{
    margin-bottom: 39px;
    .slick-arrow{
        width: 60px;
        height: 50px;
        background-color: rgba(255,255,255,.9);
        z-index: 1;
        border: 1px solid #fff;
        &.slick-prev{
            left: 25px;
        }
        &.slick-next {
            right: 25px;
        }
    }
    .slick-slide{
        position: relative;
        img{
            -o-object-fit: cover;
            object-fit: cover;
            height: 50rem;
            width: 100%;
        }
    }
    .slick-dots {
        bottom: 18px;
        margin-bottom: 0;
        li {
            background: 0 0;
            width: 20px;
            height: 20px;
            padding: 0;
            line-height: 26px;
            padding: 0;
            margin: 0;
            button{
                border: 1px solid #fff;
                height: 14px;
                width: 14px;
                border-radius: 50%;
                position: relative;
                background: 0 0;
                opacity: 1;
                margin: 0;
                padding: 0;
                &::before{
                    width: 8px;
                    height: 8px;
                    background: #fff;
                    top: 50%;
                    left: 50%;
                    margin-left: -4px;
                    margin-top: -4px;
                    opacity: 1;
                    content: "";
                    position: absolute;
                    transition: background .1s ease-out;
                    border-radius: 50%;
                }
            }
            &.slick-active{

                button{
                    background: 0 0;
                    border: 1px solid #2e3344;
                    &::before{
                        background: #2e3344;
                        opacity: 1;
                    }
                }
            }
        }
    }
    .heroCarousel-content{
        left: 0;
        margin: 0 auto;
        padding: 20px;
        position: absolute;
        right: 0;
        top: 100%;
        transform: translateY(-50%);
        width: 91rem;
        display: none;
        text-align: center;
        .heroCarousel-description, .heroCarousel-title {
            text-shadow: 2px 2px 10px rgba($theme-black-color,.32);
            font-family: $body-second-font;
            line-height: 66px;
            text-transform: uppercase;
        }
        .heroCarousel-title {
            font-size: 72px;
            letter-spacing: 0.2916666666666667em;
            font-weight: 900;
            margin-bottom: 26px;
            color: $theme-white-color;
        }
        .heroCarousel-description {
            font-size: 48px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 5px;
            color: $theme-white-color;
        } 
        .heroCarousel-action {
            padding: 13px 24px;
            line-height: 24px;
            font-size: 18px;
            text-transform: capitalize;
            font-weight: 400;
            border-radius: 0;
            margin-top: 14px;
            display: inline-block;
            &.button.button--primary {
                background: $theme-primary-color;
                border: 1px solid $theme-primary-color;
                color: $theme-white-color;
            }
        }  
    }
    .slick-slide.slick-active{
        .heroCarousel-content{
            top: 64%;
            display: block;
            .slideInUp {
                animation-name: slideInUp;
                animation-duration: 2s;
                animation-delay: .1s;
            }
        }
        
        .fadeIn {
            animation-name: fadeIn;
            animation-duration: 2s;
            animation-delay: .1s;
        }
    }
    
    @keyframes fadeIn{from{opacity:0}to{opacity:1}}
    @keyframes slideInUp{from{transform:translate3d(0,100%,0);visibility:visible}to{transform:translate3d(0,0,0)}}
}

.promotional-banner{
    .grid-box{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;

        .grid{
            &:nth-child(1) { grid-area: 1 / 1 / 3 / 2; }
            &:nth-child(2) { grid-area: 1 / 2 / 2 / 4; }
            &:nth-child(3) { grid-area: 2 / 2 / 3 / 3; }
            &:nth-child(4) { grid-area: 2 / 3 / 3 / 4; }
        }
    }
}
.product-section{
    .slick-slide{
        padding: 30px 15px 20px 15px;
    }
    .card-inner{
        @include display-flex(flex);
        @include align-item(center);
        @include justify-content(flex-start);
        @include flex-direction(column);
        height: 100%;
    }
    .card-figure{
        @include display-flex(flex);
        @include align-item(center);
        @include justify-content(center);
        width: 100%;
        overflow: hidden;
        margin-bottom: 10px;
        .card-img-container{
            @include display-flex(flex);
            @include align-item(center);
            height: 100%;
            
        }
    }
}
.home-blog-img{
    position: relative;
    width: 100%;
    a{
      text-align: center;
      display: block;
      max-height: 300px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 300px;
        overflow: hidden;
        @media only screen and (max-width: 1919px) {
          max-height: 224px;
          min-height: 224px;
        }
        @media only screen and (max-width: 1279px) {
          max-height: 210px;
          min-height: 210px;
        }
        @media only screen and (max-width: 1023px) {
          max-height: 150px;
          min-height: 150px;
        }
        @media only screen and (max-width: 767px) {
          max-height: 130px;
          min-height: 130px;
        }
        @media only screen and (max-width: 666px) {
          max-height: inherit;
        }
      img{
        width: auto;
        overflow: hidden;
        background-color: $theme-white-color;
        position: relative;
        -webkit-transition: all 500ms;
        -moz-transition: all 500ms;
        -ms-transition: all 500ms;
        -o-transition: all 500ms;
        transition: all 500ms;
      }
    }
  }
.home-blog-detail{
    text-align: left;
    padding: 0 10px;
    padding-top: 15px;
    // margin-top: auto;
    width: 100%;
    @media only screen and (max-width: 1023px) {
      padding-top: 15px;
    }
    @media only screen and (max-width: 666px) {
      margin-bottom: 30px;
    }
    h4{
      line-height: 24px;
      font-weight: 500;
      text-transform: capitalize;
      margin-bottom: 10px;
      letter-spacing: normal;
      @media only screen and (max-width: 1023px) {
        font-size: 16px;
        line-height: 20px;
      }
      @media only screen and (max-width: 767px) {
        margin-bottom: 7px;
      }
      a{
        color: $theme-primary-color;
        &:hover{
          color: $theme-light-gray-color;
        }
      }
    }
    p{
      font-size: 16px;
      line-height: 1.5;
      font-weight: 400;
      text-align: left;
      margin-bottom: 10px;
      color: $theme-light-black-color;
      @media only screen and (max-width: 1023px) {
        font-size: 13px;
        line-height: 20px;
      }
      @media only screen and (max-width: 767px) {
        margin-bottom: 7px;
      }
    }
    .blog-date{
      font-size: 15px;
      font-weight: 400;
      color: $theme-primary-color;
      @media only screen and (max-width: 1023px) {
        font-size: 13px;
        line-height: 20px;
      }
      @media only screen and (max-width: 767px) {
        @include flex-wrap(wrap);
        div{
          width: 100%;
          display: block;
          text-align: left;
        }
      }
      @media only screen and (max-width: 666px) {
        @include flex-wrap(nowrap);
        div{
          width: auto;
        }
      }
      .author{
        + .date{
          margin-left: 18px;
          @media only screen and (max-width: 767px) {
            margin-left: 0px;
            margin-top: 5px;
          }
          @media only screen and (max-width: 666px) {
            margin-top: 0px;
            margin-left: 18px;
          }
        }
      }
      svg{
        width: 15px;
        height: 15px;
        @media only screen and (max-width: 1023px) {
          width: 12px;
          height: 12px;
        }
      }
    }
  }